<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.hp.pfa_app">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />


        <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"></uses-permission>
    <!--<uses-library android:name="org.apache.http.legacy" android:required="false"/>-->

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:networkSecurityConfig="@xml/network_security_config"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".ListOrphActivity" />
        <activity android:name=".AdminActivity" />
        <activity android:name=".LoginActivity" />
        <activity android:name=".EnqueteurActivity" />
        <activity android:name=".ListEnqueteurActivity" />
        <activity android:name=".OrphActivity" />
        <activity
            android:name=".HomeActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".EvenmentActivity" />
        <activity android:name=".ListEvenmentActivity" />
        <activity android:name=".RegistrationEnqueteur" />
        <activity android:name=".ModificationOrphelin" />
        <activity android:name=".Modification_EnqueteurActivity" />
        <activity android:name=".ProfileEnqActivity" />
        <activity
            android:name=".EvenmentListActivity"
            android:label="@string/title_activity_evenment_list"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".MainActivity" />
        <activity android:name=".ModifierEvenement" />
        <activity android:name=".ListGalerieActivity" />
        <activity android:name=".GalerieAddActivity" />
        <activity android:name=".DonateurListActivity" />
        <activity android:name=".DonateurAddActivity"></activity>
    </application>

</manifest> <!-- android:usesCleartextTraffic="true" --><!-- android:theme="@style/AppTheme.NoActionBar" -->
